h3.contact-header {
  color: #ea6f7b;
  font-family: "Galada";
  font-size: 45px;
  text-align: center;
}

p {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  padding: 20px;
  display: flex;
}

.form-group {
  text-align: left;
}

.btn-contact {
  color: #ea6f7b;
  background-color: #f3cfd0;
}

.btn-contact:hover {
  color: #f3cfd0;
  background-color: #ea6f7b;
}
