.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.nav-name {
  font-family: "Galada";
  letter-spacing: 2px;
  color: #ea6f7b;
  position: relative;
  background-color: #d9dde0;
  height: 90px;
  padding: 15px 0px;
}

.right-nav-links {
  background-color: #f3cfd0;
  font-weight: 300;
  height: 90px;
  width: auto;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.a {
  font-family: "Josefin Sans";
  text-transform: lowercase;
  font-size: 26px;
  letter-spacing: 3px;
  color: #ea6f7b;
  text-decoration: none;
  padding-left: 20px;
}

a {
  font-family: "Josefin Sans";
  text-transform: lowercase;
  font-size: 26px;
  letter-spacing: 3px;
  color: #ea6f7b;
  text-decoration: none;
  padding-left: 20px;
}

a:hover {
  font-weight: bold;
  color: #ea6f7b;
  text-decoration: none;
}

.active {
  text-transform: lowercase;
  font-size: 26px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #ea6f7b;
}

.active:hover {
  color: #ea6f7b;
  font-weight: 300;
}

.a:hover {
  font-weight: bold;
  color: #ea6f7b;
}
