body {
  font-family: "Josefin Sans";
  background-color: lightpink;
  background-image: url("./img/pink-smoke.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
